[2019-03-21 12:31] fmendezh opened #5 "Support for Java 11"
We must consider that the new version of MicroServicer will run on Java 11, this has multiple implications:
  1. Deployment environment should support multiple Java versions, this can be circumvented thru the use of containers to isolate execution contexts
  2. Garbage Collections settings
  3.  Evaluate the usage of Reactive patterns supported by Java >9 and Webflux

[2019-03-21 14:00] fmendezh opened #6 "Enable HTTP/2"
This setting should enable HTTP/2 on SpringBoot ```server.http2.enabled=true```
See [https://blog.usejournal.com/migrating-your-rest-apis-to-http-2-why-and-how-8caee7d798fb ](https://blog.usejournal.com/migrating-your-rest-apis-to-http-2-why-and-how-8caee7d798fb)

[2019-04-04 14:24] asturcon opened #7 "Setup Varnish cache"
Currently, Varnish bypasses all the requests to the vocabulary ws so these requests are not cached.

We have to change the config in Varnish to cache the GET requests and in Java add a purge listener to clear the cache when there are changes in the resources. This an example of how it's done in the registry (https://github.com/gbif/registry/blob/b60ab4921711bb612465317e358b0ebd413fc8ed/registry-ws

[2019-04-04 14:32] asturcon opened #8 "Add new stage in jenkins pipeline to deploy in DEV after a git push"
Currently, when there is a push to the vocabulary repo we're not deploying the server in DEV and we have to do it manually with the deploy-dev job. We should automate this step in the jenkins pipeline.

[2019-04-04 14:35] marcos-lg opened #9 "Ignore release commits in jenkins pipeline"
After doing a release, the maven plugin pushes 2 new commits to the repo with the version changes. It would be nice if we can ignore these commits in the jenkins pipeline in order not to fire unnecessary builds.

[2019-04-04 14:42] asturcon opened #10 "Try Spring Config Server"
PoC about Spring Config Server (https://www.baeldung.com/spring-cloud-configuration)

The server should be running in one server(uat or prod?) for all the ws of all the environments. Also, it shouldn't be public. Hence, it should probably use a fixed port.

[2019-04-04 14:47] asturcon opened #11 "Import existing vocabularies"
Import from current dictionaries (https://github.com/gbif/parsers/tree/master/src/main/resources/dictionaries/parse) and Java enums (https://github.com/gbif/gbif-api/tree/master/src/main/java/org/gbif/api/vocabulary)

Currently, we're waiting to curate the dictionaries in order to adapt them to new model.

[2019-04-04 14:49] asturcon opened #12 "XSS filter"
Spring escapes most of the characters in query string params and attributes, so maybe we're doing too much checks in the XSS filter. Check that out and remove what it's not necessary.

Also, should we do these checks in the requests body?

[2019-04-04 14:53] marcos-lg opened #13 "API Documentation"
First, we need to decide what tool to use. Current documentation uses Spring rest-docs but we can consider using something that is interactive (swagger, RAML, etc).

The main goals that we should aim are:
- low maintenance
- the documentation should be always up to date

Spring rest-docs accomplishes these 2 goals but the generated documentation is not interactive so we can consider other options.

[2019-04-04 14:55] asturcon opened #14 "Static code analysis"
Currently we're using Sonar but we need to set up the code coverage which is now not working (shows 0%).

We can also consider adding other analyzers like error prone.

[2019-04-04 14:58] asturcon opened #15 "Running tests in parallel"
Originally, all the tests developed were intended to be run in parallel but it breaks in Jenkins, so the parallel execution of vocabulary-rest-ws tests are now turned off (https://github.com/gbif/vocabulary/blob/master/vocabulary-rest-ws/src/test/resources/junit-platform.properties)

[2019-04-04 14:58] asturcon opened #16 "Export vocabularies to SKOL"

[2019-04-04 15:06] asturcon opened #17 "Consider adding PATCH methods to the API"
Open for discussion, it can be considered for all the new APIs since it can be

[2019-04-05 07:34] asturcon opened #18 "Discover registry login ws in Zookeeper"
Currently, we have the URL of the registry login API in the application.properties. We could use feign client (or similar) to discover the service in Zookeeper by its service id.

[2019-10-02 13:56] fmendezh opened #19 "Initial import of data"
Perform the import of  GBIF (dictionary files)[https://github.com/gbif/parsers/tree/master/src/main/resources/dictionaries/parse]  and (API Enumerations)[https://github.com/gbif/gbif-api/tree/master/src/main/java/org/gbif/api/vocabulary] as the initial import of data to be used as concepts and values.

Note: Other sources of data like registry tagged values and occurrence data can also be explored

[2019-10-03 10:07] asturcon opened #20 "Run documentation tests in different profile"
Add new step in jenkinsFile to run this profile according to a parameter.

[2019-10-03 10:13] asturcon commented on #11
duplicated in #19

[2019-10-03 10:13] #11 closed

[2019-10-29 16:34] asturcon commented on #20
Done in #22

[2019-10-29 16:34] #20 closed

[2019-10-29 16:36] asturcon commented on #14
Done with sonar. Reopen if we need to add more.

[2019-11-01 15:33] #8 closed

[2019-11-11 15:18] thomasstjerne opened #25 "add HTTP headers for authenticated requests"
When a browser does authenticated requests it issues an OPTIONS preflight request to check for these headers:
`access-control-allow-headers`, `access-control-allow-methods`, `access-control-allow-origin`.

So accessing this directly: https://api.gbif-dev.org/v1/vocabularies?q=&limit=25&offset=0 works fine, but when called from the browser it gets a 403 on the preflight request.

I think this can b

[2019-11-12 08:51] asturcon commented on #25
Fixed in https://github.com/gbif/vocabulary/commit/33f960ee93dbeef4c964bcd2f6c3b7c172ccc269

[2019-11-12 08:51] #25 closed

[2019-11-12 13:36] thomasstjerne opened #26 "Allow content-type header"
Update `access-control-allow-headers` to:
`access-control-allow-headers: authorization,content-type`

[2019-11-12 13:57] asturcon commented on #26
Deployed in DEV

[2019-11-12 13:57] #26 closed

[2019-11-14 10:41] thomasstjerne opened #27 "Add API calls to retrieve parents and children"
Add `key` to query params for both

`GET /vocabularies` and `GET /vocabularies/{vocabularyName}/concepts`

This is needed to retrieve `replacedBy` and for concepts and parent

Also add `parentKey` to query params for `GET /vocabularies/{vocabularyName}/concepts` in order to list all immediate child concepts

[2019-11-15 10:06] thomasstjerne opened #28 "Add list of parents to concepts"
Example: If the parent concept of CAMERA_TRAP is MACHINE_OBSERVATION and the parent concept of MACHINE_OBSERVATION is OBSERVATION
the list could be given as:

[code]

[2019-11-22 14:29] asturcon commented on #27
Added the key to the query params. The parentKey in the list concepts was already added.

It's deployed in DEV. The documentation was updated too.

[2019-11-22 14:29] #27 closed

[2019-11-26 16:30] asturcon commented on #28
I've added a query param _includeParents_ in the method to get a concept (GET /vocabularies/{vocabularyName}/concepts/{conceptName}?includeParents=true). If it's set to true it will also return a field _parents_ with a list of the parents (plus all the other fields from the concept). If it has no parents this field won't be returned.

It's deployed in DEV.

[2019-11-26 16:30] #28 closed

[2019-12-13 09:29] thomasstjerne opened #29 "Allow parentKey=null in concept search"
It would be useful to search all concepts that has no parent like this:
https://api.gbif-dev.org/v1/vocabularies/BASIS_OF_RECORD/concepts?parentKey=null

[2019-12-13 10:48] asturcon commented on #29
Added hasParent and hasReplacement parameters to the concept search.

It's deployed in DEV.

[2019-12-13 10:48] #29 closed

[2019-12-17 15:02] asturcon opened #30 "Include child count in concepts response"
Suggested by @thomasstjerne to include the number of children of each concept when we search for concepts.

[2019-12-18 13:54] asturcon commented on #30
added boolean query param `includeChildrenCount` that returns a field `childrenCount` with the number of children of each concept.

Deployed in DEV.

[2019-12-18 13:54] #30 closed

[2020-01-28 14:01] thomasstjerne opened #31 "Error 422 when param includeChildrenCount is given and result is empty"
https://api.gbif-dev.org/v1/vocabularies/BASIS_OF_RECORD/concepts?includeChildrenCount=true&parentKey=17

[2020-01-28 15:07] asturcon commented on #31
fixed and deployed in DEV

[2020-01-28 15:07] #31 closed

[2020-02-07 13:22] MortenHofft opened #32 "language codes"
We are currently using 3 letter language codes. That is not enough to describe all the languages we would like to support/describe. An example is zh-TW Chinese traditional/taiwanese. We already have the website translated into traditional Chinese - we do not want to loose this option.

So we need a new enumeration for languages (existing is [here](http://api.gbif.org/v1/enumeration/basic/Language)

[2020-02-10 12:35] MortenHofft opened #33 "Too strict requirements for labels"
Currently below is not allowed and is a real example based on our translations:

Vocabulary - RANK
* COHORT:
  * jp: コホート
  * zh: 群
* GREX:
  * jp: 群
  * zh: ''

Chinese COHORT conflicts with Japanese GREX. This seems an unreasonable requirement to put on translators "you are not allowed to use a word someone else have used in another language for another concept".

I get that this is a useful req

[2020-02-10 13:19] marcos-lg opened #34 "Use names instead of IDs when creating concepts"
To create a new concept we can use the vocabulary name instead of the id in order to link them. This way the clients can ignore the IDs and work only with names.

[2020-02-11 10:07] MortenHofft opened #35 "Ordering of concepts"
Is it out of scope to deal with ordering of concepts? As a consumer it seems useful. E.g.:

* countries sorted alphabetically
* BasisOfRecord in an order where `unknown` is not midway and `HumanObservation`, `MachineObservation` and `Observation` next to each other

[2020-02-11 12:40] MortenHofft commented on #35
Currently the concepts are ordered by last change.

[2020-03-04 10:32] marcos-lg opened #36 "Allow to specify the release version number in the jenkinsFile"
Currently we cannot specify the version number when we do a release in Jenkins.

[2020-03-12 12:37] asturcon commented on #10
Tried and discarded in the registry-spring

[2020-03-12 12:37] #10 closed

[2020-03-17 11:48] asturcon commented on #15
Remove the parallelization in JUnit and use parallel steps in Jenkins as done in this branch https://github.com/gbif/vocabulary/blob/a7bcc1d4a3bda8136e266e52098072e4ce7c909d/Jenkinsfile#L27

Also, when removing the JUnit parallelization add the necessary code to clean the DB after or before each test.

[2020-03-17 11:48] asturcon opened #37 "Add Lombok"

[2020-03-20 14:28] asturcon commented on #33
Deployed in DEV

[2020-03-20 14:48] asturcon commented on #33
Deployed in UAT

[2020-03-20 14:48] #33 closed

[2020-03-23 16:37] asturcon commented on #32
New enum is here: http://api.gbif-dev.org/v1/enumeration/basic/TranslationLanguage

Java code here: https://github.com/gbif/gbif-api/blob/master/src/main/java/org/gbif/api/vocabulary/TranslationLanguage.java

[2020-03-23 16:43] MattBlissett commented on #32
What's this for? (Meaning the API change more than the vocabulary using it.)

We have language codes for interpreting the language of a vernacular name, which will include minority and dead languages.

I don't know if that's the same thing as the languages we translate the portal / registry into.

[2020-03-23 16:51] asturcon commented on #32
@MortenHofft requested it to differentiate between language variants like Chinese (our current Language enum doesn't support that). The vocabularies will also be used to for example populate dropdowns in the UI and the UI uses these variants.

The only reason I put it in gbif-api is for consistency for front-end developers to have this enum in the same endpoint as the others (http://api.gbif-dev.o

[2020-03-23 17:09] MattBlissett commented on #32
I'm not sure if we should add a second language vocabulary to the v1 API.  We already have one, and should consider how it might be extended.

It seems a bit arbitrary to choose Crowdin's list of supported languages. There's a mixture of two and three letter codes, a few without countries, and stuff like Upside Down English and "Quenya" which is Lord of the Rings Elvish.

We'll support these APIs

[2020-03-23 19:21] mdoering commented on #32
Yes, I feel similar. There is a prominent open issue in the GBIF API for some time about extending the existing but limited language enumeration: https://github.com/gbif/gbif-api/issues/29
We should rather fix that I would think.

For CoL we have the need to support a wide array of languages for vernacular names. We decided to drop the GBIF language enum and instead go with a [large list of 3 lett

[2020-03-23 19:56] asturcon commented on #32
I think it wouldn't be so easy to extend the current `Language` enum to accommodate the locales because we'd have to change the default serialization to use the locale instead of the 3-letter-code as we do now and this will break the code that relies on that.

One solution could be to rename this new enum to `Locale` and don't store the ISO 639-1 and 639-3 codes. Actually, this enum could use the

[2020-03-24 07:10] timrobertson100 commented on #32
Since we can't fix `Language` to work for us, I propose marking `Language` as deprecated with instructions to use a `LanguageCode`. This is similar to the original proposal but with a naming change and following typical behaviour for retiring something still in use.

In deprecating we should state that `Language` is expected to be removed in a v2 GBIF API and `LanguageCode` can contain a mix of ex

[2020-03-24 10:28] MattBlissett commented on #32
What were those mistakes?  Or, what are our requirements?

- Representing the many languages for which we have vernacular names. This can cover every language (major, minority, differences between countries etc).
  - This rules out an enum, it won't fit. That doesn't matter; we hardly ever refer to the languages in code. The ones we do can have a constant defined.
- Representing the languages we h

[2020-03-24 12:01] asturcon commented on #34
@MortenHofft Now the vocabulary key is not required to create a concept thru the API.

Deployed in DEV and UAT.

[2020-03-24 12:14] asturcon commented on #34
Only deployed in DEV (not in UAT yet)

[2020-03-24 12:23] asturcon commented on #32
Summarizing and if I understood correctly, looks like the `Locale(LanguageCode, CountryCode)` option is preferred? Looks to me that it's useful to keep the current `Language` enum for the places where we need the 3-letter ISO codes. And the `Locale` option is actually an extension of it just to cover a different use case. If at some point we need something that is not covered by this `Locale` enum

[2020-03-24 13:40] MattBlissett commented on #32
This is the kind of thing I had in mind:

[code]

Then we need a "Locale", except since there's `java.util.Locale` I think we should pick a different name.  How about `LanguageRegion`?

[code]

[2020-03-24 14:55] asturcon commented on #32
Ok so I understand you mean to load all languages at startup form the file Markus posted (as they do in CoL)? And for the `LanguageRegion` we also have to do the same in order to know all the possible language-country combinations. Probably everything has to be in the same file since the `LanguageRegion` depends on the `LanguageCode`, so that file as it is now is not valid for us.

Also, since the

[2020-03-24 15:03] MattBlissett commented on #32
Yes, that's fine for the moment. It gives more time to consider how the API should handle languages.

[2020-03-24 16:43] #15 closed

[2020-03-25 09:38] asturcon commented on #32
I moved the enum and renamed it: https://github.com/gbif/vocabulary/blob/master/model/src/main/java/org/gbif/vocabulary/model/enums/LanguageRegion.java

Also created endpoint in the vocabulary to retrieve the values: http://api.gbif-dev.org/v1/vocabularyLanguage

It's only deployed in DEV for now.

Changes can be done due to UI needs or if more language cleaning is required.

[2020-03-25 12:36] #37 closed

[2020-03-30 08:38] asturcon opened #44 "Add retries when logging agains the registry WS"

[2020-06-17 09:01] asturcon opened #47 "Remove language from misapplied labels and rename these labels to "hidden""

[2020-06-17 09:33] asturcon opened #48 "Add a field for comments in the vocabulary releases"

[2020-06-17 13:35] #48 closed

[2020-06-19 11:54] #47 closed

[2020-07-03 15:03] asturcon commented on #35
I'm thinking that we could sort them alphabetically by default but allow users to overwrite it. As an idea, we can add a field `sort` to `Concept` and they can set the order they want if they wish.

[2020-07-03 15:33] MattBlissett commented on #35
I reordered some of the parsing dictionary CSV/TSV files to make it easier.

[code]
country was better by key. There are a lot of cases like "Pakistan or India", or

[code]
where it's very useful to see that "St Paul Is." is ambiguous.

[code]
For something simpler, like distribution status, ordering by value, then key, seems better.

(I haven't looked at the vocabulary editing interface.)

[2020-07-09 13:02] asturcon opened #50 "Use Tomcat instead of Jetty"
This is for consistency with the other spring ws.

The nagios checks should be updated too.

[2020-08-05 10:08] mike-podolskiy90 opened #53 "Use gbif-motherpom"
Inherit the root pom from gbif-motherpom instead of spring-parent

[2020-08-05 10:15] mike-podolskiy90 opened #54 "Add spotless configuration"
- [x] Add spotless maven plugin and its configuration
- [x]  Add github action to run that automatically

[2020-08-06 13:18] #50 closed

[2020-08-06 13:18] #53 closed

[2020-08-06 13:19] #54 closed

[2020-08-14 14:19] tucotuco opened #55 "Bulk editing"
I can easily imagine that, especially but not only in the early stage of thesuarus building, contributors would benefit from being able to grab the whole vocabulary, work on it in bulk, say in OpenRefine, and then submit the results as an update.

[2020-08-26 12:09] marcos-lg commented on #32
I close this and this discussion can be continued in https://github.com/gbif/gbif-api/issues/51

[2020-08-26 12:09] #32 closed

[2020-08-26 12:37] fmendezh opened #56 "Wrong content type"
Some resources respond with the wrong content type, for example:

[https://api.gbif-uat.org/v1/vocabularyLanguage](https://api.gbif-uat.org/v1/vocabularyLanguage) returns `content-type: text/html;charset=utf-8` instead of `json`

[2020-08-26 14:24] marcos-lg opened #57 "Move /vocabularyLanguage endpoint to be under /enumeration"

[2020-08-26 15:19] marcos-lg commented on #57
On pause till it's defined the new way of handling Languages(https://github.com/gbif/gbif-api/issues/29)

[2020-10-09 09:34] #34 closed

[2020-10-22 11:47] marcos-lg opened #58 "Add nagios alerts for the cli"
To be done after deploying the clis in all the envs

[2020-10-22 11:54] marcos-lg opened #59 "Create endpoint to display a specific version of a vocabulary"
When there are changes in a vocabulary, these changes will automatically appear in the API but our occurrence data(pipelines) won't use them until a new version of the vocabulary is released. Therefore, for apps (like our portal) that will be using the vocabulary API to query occurrence data we need to make available in this API the same version as the occurrence data(pipelines) is using.  This wi

[2020-10-22 11:59] marcos-lg opened #60 "Move deployment functions in JenkinsFile to common library"

[2020-10-23 13:21] marcos-lg opened #61 "sonar coverage is not working"
It shows 0%

[2020-10-23 13:47] marcos-lg commented on #59
The export is available under the specific release, e.g.: http://api.gbif-dev.org/v1/vocabularies/LifeStage/releases/latest/export

[2020-10-26 09:03] #58 closed

[2020-11-02 14:22] #56 closed

[2020-11-02 14:22] #59 closed

[2020-11-02 14:23] marcos-lg commented on #59
Deployed in PROD

[2020-11-10 15:47] #9 closed

[2020-11-10 15:58] #36 closed

[2020-11-10 16:02] #61 closed

[2020-12-10 13:32] MortenHofft opened #64 "Consistency between versions and API usage"
There are 2 situations where there can be inconsistencies:

## 1 Vocabulary changed but not released
Vocabs and concepts change but they are not released, so the API won't reflect what is in the index (as pipelines use latest released version)

## 2 A new vocabulary is released but not yet used for reinterpreting occurrences
A new vocab version is released and until we reinterpret everything there

[2020-12-10 13:33] MortenHofft commented on #64
For now the conclusion is that we will use the API with latest changes, not the static export. This will create inconsistencies as vocabularies are developed.

[2020-12-10 13:49] marcos-lg opened #65 "Rethink the API responses not to include the keys"
Vocabularies and concepts are accesible by its name in the API, therefore the keys that we currently return in the response are kind of useless.

[2020-12-10 13:53] marcos-lg opened #66 "Add includeChildren param to the list endpoint too"
Now it's only available in the getByName endpoints

[2020-12-10 16:40] marcos-lg commented on #66
Also:

Replace the parentKey with parent: [name of the parent]
The order of the parents should be starting by the highest parent in the hierarchy

[2020-12-14 12:34] thomasstjerne opened #67 "Attempt to create a new vocabulary gives a regex error"
[code]

[2020-12-14 14:27] #67 closed

[2020-12-15 11:08] #66 closed

[2021-01-06 15:40] marcos-lg opened #68 "Create API clients"
This need arises from https://github.com/gbif/occurrence/issues/227

[2021-01-20 12:02] #68 closed

[2021-01-24 18:19] tucotuco commented on #55
We have a situation now where the bird collection community would like to do exactly this with the terms lifeStage, sex, and preparations. We'll have a call with them 2021-01-25 and try to help direct there efforts to have the best impact and show them what has already been done with lifeStage.

[2021-01-26 10:28] ManonGros commented on #55
thanks @tucotuco, do you mean have the possibility to upload a bulk of (alternative and/or hidden) labels for a given concept or perhaps several concepts?

I also think that would be useful as most of the processing for verbatim terms is done in other programs.
That being said, I am not sure what would be the best way to do that.
- upload a CSV (?) file containing the labels for a given concept on

[2021-01-26 15:52] tucotuco commented on #55
@ManonGros I expect this community will want to make contributions at nearly every level of the vocabulary - concepts, labels in multiple languages, and hidden labels. I have extracted the distinct values of All GBIF Bird Preserved Specimens for four terms - sex, lifeStage, preparations, and reproductiveCondition. I also chopped those up into clauses and words to ease the workload. We introduced t

[2021-01-27 12:09] marcos-lg commented on #55
Currently we can export the vocabularies in JSON format at this endpoint:

http://api.gbif.org/v1/vocabularies/LifeStage/concepts/export

It's in JSON because that's the easiest format for the API to understand but it's probably not the best one to do bulk editing. However, we could use it as a starting point and turn it into something else like CSV or other format that is easy to use in spreadshe

[2021-01-27 12:46] tucotuco commented on #55
Sounds good. The JSON is indeed useful, and online JSON to CSV converters
can turn that into a form easily usable in a spreadsheet. That's what I did
to show the NAOC group the structure and content of the liefStage vocab in
a form that they might use for editing.

On Wed, Jan 27, 2021 at 9:10 AM Marcos Lopez Gonzalez <
notifications@github.com> wrote:

[2021-03-17 12:41] ManonGros opened #69 "BasisOfRecord - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1iXpDR1qdB1YoPUgMisg4Xly5YF-9A8c3/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the "misapplied" tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

### The Goal

We need this vocabulary

[2021-03-17 19:38] ManonGros opened #70 "Guidelines - master issue - curation before uploading first vocabulary version"
### The Goal

We need this vocabulary to be ready for a first import into our registry (https://registry.gbif.org/vocabulary/search). We don't need it to be perfect, we need it to be good enough that it can be used for interpreting the GBIF and ALA data.

### A bit of background info

In the context of data interpretation, keep in mind that the concepts are what links everything together. Thanks t

[2021-03-17 19:43] ManonGros opened #71 "Geodetic Datum - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1dyMU5H1HHNHpgVaa8kmPkGi5esIae7_4/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

**NB:** this particular version of

[2021-03-17 19:53] ManonGros opened #72 "Continent - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1BMSJ5-hd0b8MXx-p-rQe9CIbQEa9dZHC/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 07:36] ManonGros opened #73 "CountryName - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1cHFn7V3Ro3CScz-fw_YYPGFevGOzzQ0L/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for the two fields for which this vocabulary is used, that appear more than 10,000 times or in 5 or more datas

[2021-03-18 07:48] ManonGros opened #74 "establishmentMeans and degreeOfEstablisment"
DegreeOfEstablishment is a new vocabulary and should be created according to [the spec](http://rs.tdwg.org/dwcdoe/values.htm)

For the establishmentMeans, we have a file of verbatim values to edit: https://drive.google.com/file/d/1wj6C9x2JfX03qnqwwxoPivCOiACgH_Hk/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all

[2021-03-18 07:59] ManonGros opened #75 "Habitat - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1rFCjS80_wGYdA3hgzfzS9TJXDnk6xG_s/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 08:08] ManonGros opened #76 "Kingdom - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1sQrhCykgwL1VHw_7UoQX83F7gV51xr8R/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 08:20] ManonGros opened #77 "Language - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1wQ21ShfKNRrJ8VJMbNzbgHzNCHEn7laf/view?usp=sharing

**It contains:**

- a list of the values already mapped to some concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

**NB**: For this vocabulary, please add the concepts by using the

[2021-03-18 08:44] ManonGros opened #78 "License - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1w7gHodzDgSKon6UNFlQAHQo0GmRMWDx8/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 09:01] ManonGros opened #79 "LicenseURI - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1cHqEbpsvExhDg3FoPBl6Sw5BADhKa2lz/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)

Pease check instructions here: https://github.com/gbif/vocabulary/issues/70

[2021-03-18 09:06] ManonGros opened #80 "month - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1hKV2JnN4uXnwLfOaAncEou2_9EJav7wy/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 09:18] ManonGros opened #81 "NomenclaturalStatus - curation before uploading first vocabulary version"
Here is a file to edit: hhttps://drive.google.com/file/d/1i5i8apmLtIHiBztDltKoNfRXQc7SbrJz/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: ht

[2021-03-18 09:29] ManonGros opened #82 "NomenclaturalCode - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1etJzT3FYm8gzsQ1PFGh8OhZlAiU4DhJu/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 09:43] ManonGros opened #83 "Sex - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1qyBLQnpLyF3qXlNJ2oP0QN6uoHbIbhxd/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

NB: We can make sure that the matc

[2021-03-18 09:50] ManonGros opened #84 "TaxonomicStatus - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1bLlRDCZmlq7AAp6ufOswicbCUJPus7BB/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 10:34] MattBlissett commented on #73
Please be particularly careful with this one, to avoid introducing incorrect mappings.

For example, "SANDWICH ISLANDS" can mean Hawaii (US), Manuae (CK), Efate (VU), or the South Sandwich Islands (GS), so it is mapped to Unknown (ZZ).  It is probably worth storing comments, if possible, when reviewing these entries.

"NC" must mean New Caledonia (and not North Carolina); if the coordinates are in

[2021-03-18 10:36] MattBlissett commented on #79
(The spreadsheet is not visible.)

This is the concept used for interpretation of media licenses, so any license is possible.

[2021-03-18 11:12] #19 closed

[2021-03-18 11:14] marcos-lg opened #85 "Tool to import vocabularies from spreadsheets"
Review, adapt and merge the work done in the `vocabulary-import` branch that was used to import the `LifeStage` vocabulary.

[2021-03-18 11:24] marcos-lg opened #86 "Add tags to concepts"
Tags are necessary to group concepts within a vocabulary, for example, to group the `LifeStage` concepts that apply to birds.

A concept can have multiple tags.

[2021-03-18 12:36] timrobertson100 commented on #74
@ManonGros I'd like to do this, please.

[2021-03-18 12:40] ManonGros opened #87 "TypeStatus - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1WOgxAt3nIL2TVpXV06Qa8wNTY9Q7R5R7/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 12:46] ManonGros opened #88 "TaxonRank - curation before uploading first vocabulary version"
Here is a file to edit: https://drive.google.com/file/d/1YG5dy3rDf3BSuy7p6MhP7weNw5o-jTE8/view?usp=sharing

**It contains:**

- the list of existing concepts
- a list of the values already mapped to the concepts (they are all in the **Hidden** sheet/tab for now)
- the GBIF verbatim values for this field that appear more than 10,000 times or in 5 or more datasets

Pease check instructions here: htt

[2021-03-18 13:34] tucotuco commented on #71
I would like to continue to work on this one. I have the data ready for the labels in the "Concepts" sheet, I also have one correction in the "Hidden" sheet. In addition, I have the labels and mappings for every concept and hidden label in the GBIF snapshot from 2021-01-12, which added 232 distinct values of geodeticDatum since 2020-04-09. I would like to include them all rather than the arbitrary

[2021-03-18 13:36] tucotuco commented on #73
I would like to work on this one. I have all the mappings (done carefully by the criteria of @MattBlissett ;-) ). I have requested edit access to the sheet.

[2021-03-18 13:56] tucotuco commented on #71
I just put the English labels for the Concepts. These all come from EPSG.ioand changed the one hidden mapping of "ETRS89 (~WGS84)" to 4258. I see the thumbs up from @ManonGros  on my previous comment, but will await an explicit confirmation before adding the other Concepts and hidden labels.

[2021-03-18 14:06] tucotuco commented on #73
I wonder what is the reasoning behind including the Concept ZZ. I see what is being mapped to it - everything that can't be mapped to a real iso code. That makes the semantics of that value very different from all therest, and that worries me.

[2021-03-18 14:25] tucotuco commented on #73
For preferred English labels, should I use those already in use in the GBIF UI? Are you interested in altLabels to match GADM names? If there are multiple altLabels, how should they be separated? Comma won't work, as they are valid in altNames.

[2021-03-18 14:28] ManonGros commented on #71
Thanks @tucotuco! you can go ahead with the rest.

[2021-03-18 14:37] ManonGros commented on #73
I am not sure about the English labels, @MattBlissett do you have any thought on that?

For the multiple alternative labels, I suggest to add a second line with the same concept and the second alternative label (same for the mapping of hidden labels).

[2021-03-18 15:00] MattBlissett commented on #73
`|` is an easy separator to use, though Marcos might require a syntax supported by the import tool.

ZZ is in the current (parsers) dictionary to make it clear the name is ambiguous, and prevent someone from adding a value in error later. It's fine if there's another way to achieve this, but I think we should keep some way.  Having more than one editor for this almost requires it.

I haven't looke

[2021-03-18 15:16] pzermoglio commented on #83
I'd like to work on this one, have requested access.
Thanks

[2021-03-18 15:19] pzermoglio commented on #75
I'd like to work on this one.
Agree that this is a difficult one. For starters, if we followed the definition of [dwc:habitat](https://dwc.tdwg.org/terms/#dwc:habitat), I'm not sure we should expect a controlled vocabulary:

[2021-03-18 15:21] pzermoglio commented on #88
I'd like to work on this one, I've requested access.
Thanks

[2021-03-18 15:24] timrobertson100 commented on #74
I have a call with @qgroom to introduce this tomorrow and go over the work, hoping to have him approve the result.

[2021-03-18 15:40] marcos-lg opened #89 "Add a README the vocabulary-cli project"
It should explain the process of copying the latest release to the directory that pipeline uses.

[2021-03-18 17:10] ManonGros commented on #75
I don't know, I was also thinking that mapping the habitat to a controlled vocabulary would mean a (big) loss of information.
But at the same time, it would be nice to be able to search data per habitat.

@ahahn-gbif @timrobertson100 any thought on this?

@pzermoglio I will give you access to the spreadsheet, just in case.

[2021-03-18 17:20] pzermoglio commented on #75
Thanks @ManonGros
Probably worth relating to discussions about [proposed biome term](https://github.com/tdwg/dwc/issues/38).

[2021-03-18 20:01] tucotuco commented on #71
I have finished updating the "Concepts" and "Hidden" sheets. I added a few more concepts and a lot more hidden alternatives. I removed the Hidden labels that mapped to concepts that had the same concept id and english label as there shouldn't be any duplication between those sets. I refrained from adding all of the unmappable nonsense (coordinates, integers out of range for epsg codes, etc.) that

[2021-03-18 20:01] tucotuco commented on #71
1. - [ ] Add English labels to the concepts.

2. Check the already mapped values in the Hidden sheet/tab:
- [ ] Correct any errors.
- [ ] When needed, move the mapped values from the Hidden sheet to the Concept sheet as an alternative label but do not add any new concept.
3. - [ ] Map as many verbatim values as possible and add them to the Concepts and Hidden sheet/tabs:
4. - [ ] Incorporate VertN

[2021-03-22 10:53] marcos-lg opened #90 "Use the maven plugin in the jenkins pipeline"
Use:

[code]

instead of passing the settings manually.

[2021-03-22 10:53] marcos-lg opened #91 "Show test reports in the jenkins pipeline"

[2021-03-22 14:37] ManonGros commented on #79
(The spreadsheet should be visible now)

[2021-03-23 10:46] marcos-lg opened #92 "Use Set instead of List for labels in concepts"

[2021-03-23 14:57] ManonGros commented on #73
@tucotuco for multiple altlabels, please make them `|` separated. @marcos-lg confirmed that [the importer](https://github.com/gbif/vocabulary/tree/master/vocabulary-importer) will be able to handled that.

[2021-03-23 15:04] timrobertson100 commented on #74
The spreadsheet is complete with input from @qgroom.

I will load it into GBIF dev first to verify the scripts and then into the gbif-uat server and leave the scripts and attach the CSV files used in a comment here.

Since this goes with a new vocabulary (i.e. no verbatim data to map) for degreeOfEstablishment I will also prepare files for that. Both are necessary to complete the work for https://

[2021-03-23 15:54] tucotuco commented on #73
Got it.

On Tue, Mar 23, 2021 at 11:57 AM Marie Grosjean ***@***.***>
wrote:

[2021-03-23 16:25] timrobertson100 commented on #74
EstablishmentMeans is now in the UAT vocab server https://registry.gbif-uat.org/vocabulary/EstablishmentMeans/concepts

Imported with the attached CSVs and the following:

[code]
[Concepts.txt](https://github.com/gbif/vocabulary/files/6191231/Concepts.txt)
[Hidden.txt](https://github.com/gbif/vocabulary/files/6191230/Hidden.txt)

[2021-03-24 12:35] #92 closed

[2021-03-24 12:35] #85 closed

[2021-03-24 14:55] timrobertson100 commented on #74
These are now both in production https://registry.gbif.org/vocabulary/search
Thanks to @qgroom for assisting.

[2021-03-24 14:55] #74 closed

[2021-03-25 01:37] leobuitrago2 commented on #69
@ManonGros I'd like to work on this, thanks!

[2021-03-25 01:44] leobuitrago2 commented on #82
@ManonGros I'd like to work on this, thanks!

[2021-03-25 01:44] leobuitrago2 commented on #84
@ManonGros I'd like to work on this, thanks!

[2021-03-25 02:09] leobuitrago2 commented on #74
This is great @timrobertson100 and @qgroom, congrats! Could we open this issue again, just to add the labels and definitions in Spanish, please?

[2021-03-25 07:15] ManonGros commented on #82
You have access to the spreadsheet, you can ho ahead and start working :)

[2021-03-25 07:20] ManonGros commented on #74
@leobuitrago2 I think the edits have to be done directly in the registry now: https://registry.gbif.org/vocabulary/search
@timrobertson100 could you confirm?

[2021-03-25 08:14] timrobertson100 opened #93 "Add Spanish to establishmentMeans"
The [establishmentMeans](https://registry.gbif.org/vocabulary/EstablishmentMeans) vocabulary is in the production database and ready for Spanish translation.

@leobuitrago2
Please can you add Spanish translation for _only_ the label and definition of each concept and the vocabulary itself?
Please can you self-assign this issue when you accept the invitation to this repository?
Please log issues fo

[2021-03-25 08:15] timrobertson100 opened #94 "Add Spanish to degreeOfEstablishment"
The [degreeOfEstablishment](https://registry.gbif.org/vocabulary/DegreeOfEstablishment) vocabulary is in the production database and ready for Spanish translation.

@leobuitrago2
Please can you add Spanish translation for _only_ the label and definition of each concept and the vocabulary itself?
Please can you self-assign this issue when you accept the invitation to this repository?

[2021-03-25 08:17] timrobertson100 commented on #74
Thanks, @leobuitrago2

I chose to push these through because they are small, I wanted to add URIs that the import tool didn't support, and I wanted us to get some experience in editing in the UI so we can identify issues that need solved using small "safe" vocabularies that are not currently used.

Can you please self-assign #93 and #94?

[2021-03-25 08:30] timrobertson100 commented on #55
Having now created an 11 concept vocabulary in English, I can confirm that the UI as it currently stands is clunky, with a lot of selecting of language for each entry and tedious clicking around.

Tweaking a few edits is fine, but I agree we need a more efficient way to bulk edit. The workflow I think would work best would be that something along the lines of:

- User chooses to export for bulk ed

[2021-03-25 08:49] qgroom commented on #93
Actually Spanish and Dutch translations already exist https://docs.google.com/spreadsheets/d/1qsFIM60VS6ZUAoE9sLgoFd88ib5qvAoABsNSb4Ye9dE/edit?usp=sharing

[2021-03-25 08:51] ManonGros commented on #69
Sounds good! You have access to the spreadsheet now. Keep in mind that we don't want to rework the concepts for this round, just map the values to [the existing ones](https://github.com/gbif/gbif-api/blob/dev/src/main/java/org/gbif/api/vocabulary/BasisOfRecord.java).

[2021-03-25 08:53] timrobertson100 commented on #93
Thanks @qgroom

They need to be tweaked ever so slightly because these aren't the SKOS scheme but follow the originals closely. I also reformatted some of the labelling using brackets instead of colons since we have a hierarchy here. A native speaker will be able to port those easily though.

If it exists, can you please link the spreadsheet you have for https://github.com/gbif/vocabulary/issues/9

[2021-03-25 09:16] qgroom commented on #94
Spanish translations are here
https://docs.google.com/spreadsheets/d/1qsFIM60VS6ZUAoE9sLgoFd88ib5qvAoABsNSb4Ye9dE/edit?usp=sharing

[2021-03-25 10:48] timrobertson100 opened #95 "Add Pathway vocabulary"
In order to bring in the new Darwin Core terms, we need to create a vocabulary for [pathway](http://rs.tdwg.org/dwcpw/values.htm).

Because this has 53 values it will be tedious to enter manually, so I will work with Leo to get the English and Spanish versions ready in a spreadsheet before we import it.

The [English sheet](https://docs.google.com/spreadsheets/d/1bbmk_5xM9t27YWMaW40zP7ELoMs11ncrWN

[2021-03-25 13:54] timrobertson100 commented on #95
The UAT registry has a test version (English only) here
https://registry.gbif-uat.org/vocabulary/PathwayTest1/concepts

[2021-03-26 02:40] leobuitrago2 commented on #93
ok @timrobertson100, thanks for the instructions.

Please confirm if the changes should be done in the [production UI](https://registry.gbif.org/vocabulary/EstablishmentMeans) or [UAT](https://registry.gbif-uat.org/vocabulary/EstablishmentMeans).

[2021-03-26 02:59] leobuitrago2 commented on #95
I will be glad to contribute here @timrobertson100. I've already requested you access to the [English sheet](https://docs.google.com/spreadsheets/d/1bbmk_5xM9t27YWMaW40zP7ELoMs11ncrWNPs4WepOCw/edit#gid=0) to work in the Spanish translation. Do you want to work directly in the spreadsheet first and then release it in [UAT](https://registry.gbif-uat.org/vocabulary/PathwayTest1/concepts)?

[2021-03-26 05:06] leobuitrago2 commented on #69
Hi @ManonGros, I've started to work on [the spreadsheet](https://drive.google.com/file/d/1iXpDR1qdB1YoPUgMisg4Xly5YF-9A8c3/view?usp=sharing) with the hidden values, please let me know what do you think.

I have some questions:

1. Do we have to add **ALL** the hidden values as alternative labels or just the most _obvious_ (e.g for "Observation": "Observations | Obs"?
2. Do we have to remap the hid

[2021-03-26 08:00] timrobertson100 commented on #93
Production @leobuitrago2. These are new and small, so it is safe to do and it's good to learn the behaviour of changes made there in a safe way.

[2021-03-26 08:02] timrobertson100 commented on #95
Thanks @leobuitrago2

Yes, this one we'll verify in UAT before running in production. You get one chance to import, after which it is manual editing concept by concept currently. This is large enough that is too painful to do in the UI currently.
The other two (establishmentMeans and degreeOfEstablishment) we are editing in the UI in production.

[2021-03-26 08:03] timrobertson100 commented on #94
@leobuitrago2

Can you please look at the description of the vocabulary in English? It is slightly different to the one that the SKOS vocab uses but essentially says the same thing. It's reworded since ours are not strictly SKOS vocabularies

[2021-03-29 00:49] tucotuco commented on #55
This seems practical to me.

On Thu, Mar 25, 2021 at 5:30 AM Tim Robertson ***@***.***>
wrote:

[2021-03-31 06:35] ManonGros commented on #69
Thanks @leobuitrago2 !
As far as I understand:
1. The alternative labels are only for accepted valid terms. So the spelling variants (such as plurals or abbreviations) should be in the hidden labels (the hidden labels will still be used for interpretation). You don't need to put many alternative labels. Perhaps @tucotuco has more examples/thoughts to share?
2. If you think there could be errors in

[2021-04-08 22:51] leobuitrago2 commented on #69
Hi @ManonGros, thanks for your reply. I've followed your instructions and this vocabulary looks almost complete to me. However, I'd like if @tucotuco could take a look at the file and give me some feedback. Also, I'd like @marcos-lg could clarify (after his holidays of course) if the space between words matter and counts as a new label (e.g. "Preservedspecimen" vs "Preserved Specimen") and also th

[2021-04-09 00:08] leobuitrago2 commented on #93
Hi @timrobertson100 sorry for my late reply here. I've finished the documentation in the Production UI of the labels in Spanish for each concept, everything works fine! I just found a [minor issue](https://github.com/gbif/registry-console/issues/377) in the registry. I hope to continue working with the other vocabularies. Greetings!

[2021-04-09 20:37] tucotuco commented on #73
I have finished with one aspect of the vocabulary resolution for country names - The addition of Label-en and AlternativeLabels-en. The Label-en values consist of those currently used by GBIF in the gbif.org search drop-down list. I imagine that, event though they do not completely match any other list, some thought went into those choices. Therefore I didn't mess with them. For alternative labels

[2021-04-09 20:55] tucotuco commented on #73
I made a beginning working on the hidden labels. I am curious about a) where the values in that list came from, and b) where the mappings came from.  About a), I am worried that there was a systematic transformation of accented and other UTF-8 characters into another encoding that does not preserve them. I do not see any correct accented characters in the data. If that is the case, it would be a w

[2021-04-09 23:37] tucotuco commented on #69
My recommendation is to minimize alternative labels for the vocabularies that are so fundamental. According to the standard recommendation for basisOfRecord, "Recommended best practice is to use the standard label of one of the Darwin Core classes." The examples given are, "PreservedSpecimen, FossilSpecimen, LivingSpecimen, MaterialSample, Event, HumanObservation, MachineObservation, Taxon, Occurr

[2021-04-10 00:11] tucotuco commented on #69
To me the accents also constitute distinct values as hidden labels, and the preferred labels should have them where the language demands it.

From the Darwin Core perspective, there are three concepts that are not currently valid: "Literature", Occurrence", and "Observation". That's OK though, this vocabulary doesn't not claim to be the definitive one for Darwin Core, and if it is in practice, it

[2021-04-12 13:05] marcos-lg commented on #69
Hi @leobuitrago2, for the GBIF interpretation the spaces and the accents don't matter so we only need to put each value once, preferably the one that is more readable for humans.

So for example, `Preservedspecimen` is not really needed since we already have the `Preserved Specimen` label.

[2021-04-15 12:18] ahahn-gbif commented on #87
I'd like to work on this one, please

[2021-04-15 12:55] timrobertson100 commented on #73
Thanks @tucotuco and sorry for the delay in replies. People all had holidays over easter.

They look like they are a port from the current file-based dictionary [here](https://github.com/gbif/parsers/blob/master/src/main/resources/dictionaries/parse/countryName.tsv)

I think we might have made a mistake @ManonGros. The verbatim SQL doesn't include the current value, so we can see what is currently

[2021-04-15 13:00] ManonGros commented on #80
@timrobertson100 I think this vocabulary should be ok, I added the values mapped by VertNet as well (https://github.com/VertNet/DwCVocabs/blob/master/vocabs/month.csv). Does it seem ok to you?

[2021-04-15 13:28] timrobertson100 commented on #80
I wonder if these might be a bit eager?

[code]

Are `Jun.`, `Mar.` etc handled by strippling the `.` in interpretation, please? I see them in the verbatim sheet but not handled in the hidden labbels sheet

[2021-04-15 13:31] marcos-lg commented on #80
By default the `.` are not stripped but it could be applied in a prefilter that strips the dots at the end of each value

[2021-04-15 13:41] tucotuco commented on #73
I'm sorry, but I do not understand what you are proposingm,so it is hard to
assess it.

On Thu, Apr 15, 2021 at 9:55 AM Tim Robertson ***@***.***>
wrote:

[2021-04-15 14:37] timrobertson100 commented on #73
The objective here is to ensure the verbatim values we see map to correct concepts. So the way I'd approach vocabularies like this would be:

- start with the verbatim sheet having verbatim and the current concepts to which they map
- those were interpreted to the existing [mapping file](https://github.com/gbif/parsers/blob/master/src/main/resources/dictionaries/parse/countryName.tsv) which is the

[2021-04-16 06:18] ManonGros commented on #80
Those are the ones I got from VertNet. I thought that it would be wasteful not to integrate them.

I can see I was missing `Jun.` but the rest was in the mapped values (just not capitalised). I had done most of the mapping to verbatim values prior to import in this spreadsheet so I didn't use the verbatim sheet as much here. I just added what I thought I was missing.

[2021-04-16 06:22] ManonGros commented on #73
I don't understand, did I forgot to put something in the spreadsheet?

[2021-04-16 07:25] timrobertson100 commented on #80
Thanks. I'll comment why I disagree with this:

- a _?_ in data often used to mean _maybe it was ...  but I am not sure_. GBIF's policy should be to not make a questionable statement (maybe it was...) to a fact (it was...) wherever possible.
- The same applies to a  _...or Oct_ as it implies there was an alternative before the _Oct_ that has been dropped in a bad data processing script
- _|_ is un

[2021-04-16 07:28] timrobertson100 commented on #73
If you see my comment above on the process, I think we need the current interpreted value.

It's not possible to review the result unless the verbatim data is mapped. You need to be able to see what is mapping wrongly (to be removed from the hidden labels) or should be mapped (to be added).

[2021-04-16 08:11] ManonGros commented on #80
That makes sense, I gave it an other go and removed the edge cases.
I believe this should be good now.

[2021-04-16 08:30] MattBlissett commented on #80
We have been removing `?` and `|` before most vocabulary/enum parsing to-date, and `-` (where `X-` might mean `October to December`?).  It might not affect that many records, but we probably have things like `Denmark?`, `Quercus?`, `Female?`, `1924?`, `1800-`.

i.e. https://github.com/gbif/parsers/blob/20a5ea05084db48366f7fdaa39881b8a3df12298/src/main/java/org/gbif/common/parsers/core/EnumParser.j

[2021-04-16 08:58] ManonGros commented on #73
Apologies @tucotuco I misunderstood what we needed in the verbatim sheet.
I added all the interpreted values corresponding to the verbatim. That way, it is easier to identify what is missing and potential mis-mapping.

Sorry again about the confusion.

[2021-04-16 13:31] ManonGros commented on #72
I think I have finished this vocabulary. @timrobertson100 and perhaps @MattBlissett, could you take a look and let me know if this seems ok to you?

[2021-04-16 13:57] MattBlissett commented on #72
This looks like a vocabulary for GBIF Region (a classification for GBIF's use in organizing activities) rather than continent (seven-continent geographical definition, including several countries like RU, KZ, TR with land on two continents).

The concept label_en for EUROPE and SOUTH AMERICA should be Europe and South America.

Central America and the Caribbean are part of the South American conti

[2021-04-16 15:23] tucotuco commented on #75
I think that it is unreasonable to attempt a controlled vocabulary for habitat the way it is defined and populated. Furthermore, it is not one of the terms in Darwin Core that recommends a controlled vocabulary. I believe that the addition of the [biome term](https://github.com/tdwg/dwc/issues/38) to Darwin Core, which will soon to go to [public review](https://github.com/tdwg/dwc/milestone/14), w

[2021-04-16 16:27] tucotuco commented on #72
@Matthew Blissett ***@***.***> Are you sure you don't mean that
Central America and the Caribbean are part of North America? I have never
seen the grouping you suggest.

On Fri, Apr 16, 2021 at 10:58 AM Matt Blissett ***@***.***>
wrote:

[2021-04-16 17:13] MattBlissett commented on #72
Yes, I mean Central America and the Caribbean are part of North America.

The vocabulary spreadsheet as it is at the moment has them as part of "South America / Latin America and the Caribbean".

[2021-04-19 06:44] ManonGros commented on #72
Thanks for checking! you are right, I used the GBIF regions because I didn't think.
I will correct that.

[2021-04-19 06:49] ManonGros commented on #72
Ok I updated the names and the mapping. Could I ask you to check again? Thanks!

[2021-04-19 10:27] MattBlissett commented on #72
`NA` could be North America, but could also be "Not applicable" (or Namibia), is that why you excluded that one?

It seems fine now, thanks.

[2021-04-19 10:56] ManonGros commented on #72
yes it is why I excluded it. I thought it was too ambiguous.

[2021-04-19 13:30] tucotuco commented on #72
Good choice.

On Mon, Apr 19, 2021 at 7:56 AM Marie Grosjean ***@***.***>
wrote:

[2021-04-19 13:39] ahahn-gbif commented on #87
Some intermediate notes:

- added ISOEPITYPE
- check adding (legitimate?) or adding to parent (TYPE): TYPESTRAIN; TYPESERIES; METATYPE; HOMOTYPE(??);TYPEMATERIAL; PARATOPOTYPE; NEOPARATYPE; LECTOPARATYPE; CLONOTYPE (not really a type)
- UNKNOWN: discarded again. If we do not know whether it is a type or not, it should be treated the same as any other NULL value, not labeled specifically just becau

[2021-04-19 14:09] ahahn-gbif commented on #77
Could you give me access to this one, please? Thanks!

[2021-04-19 14:12] ahahn-gbif commented on #77
@timrobertson100: I assume that we primarily use this in the the publisher and dataset metadata. Are there other uses of this vocabulary that need to be taken into account?

[2021-04-19 14:17] ahahn-gbif commented on #77
#32 (closed issue): what is the scope of the language vocabulary?

[2021-04-19 14:41] timrobertson100 commented on #77
Not to my knowledge

[2021-04-19 14:43] ahahn-gbif commented on #87
This is at a stage where I would appreciate a review. Do we have a process for this, or whom should I include, @timrobertson100?

[2021-04-19 14:59] timrobertson100 commented on #87
Thanks @ahahn-gbif

Each vocabulary can present different quirks, so it needs to be tailored to fit but I find that in general

1. Consider if ALA or others may bring new needs (I'd assume unlikely here)
2. Identify a good person to review it
2. Introduce your methodology to them
3. Ask them to review the parts relevant. In this case
        - The concepts and definitions
        - The hidden labe

[2021-04-19 15:05] tucotuco commented on #77
Do you not intend for this to be used beyond GBIF's needs? Codes for vernacular name languages was already identified as a major use case. In addition, the Occurrence Core, Event Core, and Audubon Core have dc:language at the record level. Audubon Core also has dcterms:language, metadataLanguageLiteral, and metadataLanguage at the record level.

[2021-04-19 15:15] timrobertson100 commented on #77
Good point. I'd assume it drives those as any existing dictionary likely does.

(The immediate priority is on interpretation needs in GBIF/ALA pipelines)

[2021-04-19 18:02] mdoering commented on #87
@ahahn-gbif happy to review, just ping me

[2021-04-20 14:37] ahahn-gbif commented on #87
Concerning the handling of **verbatim data with containing uncertainty markers** ("type?", "possible type" etc):

Policy decision to
- serve the use case of letting data users know that a) there is a possible type and b) the assignation is uncertain. Assumption: a user searching explicitly for type material would rather examine a few uncertain cases than loose the information that they might exist

[2021-04-20 15:26] ahahn-gbif commented on #77
Some assumptions to verify before starting:

- ISO 639-1 (https://api.gbif.org/v1/enumeration/language: ISO 639-1 and 639-2) provides sufficient granularity to provide the concepts
- we would not want English language language names as concepts, but rather neutral entities (ISO 2-letter codes)
- English language names serve as labels, not as concepts, just as Spanish etc equivalents (and native ti

[2021-04-20 16:43] tucotuco commented on #77
It looks good except that I suspect ISO 639-2 is insufficient for all known
purposes in our community, especially ethnobiology. If you want, I can try
to get a confirmation of that from Jonathan Amith, linguist and progenitor
of DEMCA (https://demca.mesolex.org/portal/).

On Tue, Apr 20, 2021 at 12:27 PM Andrea Hahn ***@***.***>
wrote:

[2021-04-20 17:17] MattBlissett commented on #77
ISO 639-3 might be needed, but I haven't investigated myself.

https://en.wikipedia.org/wiki/ISO_639-3#Usage has some links to other language-related systems, several depending on ISO 639.

[2021-04-21 07:29] ahahn-gbif commented on #77
Thanks, both! For practical purposes, that sounds as though we will eventually need multiple levels of granularity in the concepts list, with explicit parent declarations, rather than a single-level flat list. @marcos-lg, are hierarchichal vocabularies something already covered, or would that add more complexity than we want to handle in the first phase, please?

[2021-04-21 09:10] ahahn-gbif commented on #77
(from TimR via Skype):
"LifeStage is in production and is an example of a hierarchical vocabulary
It’s intended for 1 (maybe 2) levels deep. I’d advise anything more complex needs thought."

[2021-04-23 09:38] marcos-lg opened #96 "Extend the lookup library to return the level of confidence of a match"
When there are no matches for a certain value, the lookup library should try to find a fuzzy match by stripping some characters or words from the value.

For example, in a `Month` vocabulary a lookup by `January?` wouldn't return any match, but if we strip the `?` it would return `January`.

When doing this, the lookup library would return wether the match was `Exact` or `Fuzzy`.

Still to be dete

[2021-04-26 12:24] mdoering commented on #87
I would recommend to rename this into NOT_A_TYPE so its clear. With all these cryptic type names NOTA_TYPE sounds a reasonable name of some kind of type.

[2021-04-26 12:26] mdoering commented on #87
If you have to have a single parent it should be the syntype, as iso- just indicates a duplicate, the syntype is the more distinguished type status I would say.

[2021-04-26 12:28] mdoering commented on #87
Is it worth considering an OTHER status to populate in case the verbatim status cannot be parsed but is not null?

[2021-04-26 12:30] mdoering commented on #87
should ISOTYPE not have holotype as the parent instead of just type?

[2021-04-26 12:32] mdoering commented on #87
All isotypeXYZ should not have ISOTYPE as the parent. ISOTYPE is based on the holotype, all the others not.

- ISOEPITYPE -> EPITYPE
- ISOLECTOTYPE -> LECTOTYPE
- ISONEOTYPE -> NEOTYPE
- ISOPARATYPE -> PARATYPE
- ISOSYNTYPE -> SYNTYPE

[2021-04-26 12:33] mdoering commented on #87
the COL type status vocabulary sets up a hierarchy by specifying a "base" status (=parent). Maybe thats worth looking into:
http://api.catalogueoflife.org/vocab/typestatus

[2021-04-26 12:36] mdoering commented on #87
I would map the following rather to NULL, maybe flagging an uncertainty issue.
[code]

[2021-04-26 12:45] mdoering commented on #87
I would create a distinct new value for Neoparatype & Lectoparatype.
You often find their name also reversed as Paraneotype & Paralectotype.

[code]

[2021-04-26 12:48] mdoering commented on #87
Paratopotype is mapped to PARATYPE and TYPE. Should be the former for all 3:

[code]

[2021-06-15 09:06] timrobertson100 opened #97 "Preparations vocabulary"
We should look to standardize preparations.

2628 verbatim values are used in 1000 or more records, or >3 datasets creating using the following is attached

[code]

[preparations.csv](https://github.com/gbif/vocabulary/files/6654302/preparations.csv)

[2021-06-15 18:42] tucotuco commented on #97
Several observations.
1) This is not a term that has a recommendation for a controlled vocabulary in Darwin Core
2) Content of this term has a mix of at least three distinct concept (parts, preservation methods, and preparation methods).
3) Content in this term supports lists of the above combinations
4) Despite the above observations, the participants in the NAOC vocabulary workshop in February o

[2021-06-17 13:48] timrobertson100 commented on #97
Thanks, @tucotuco, this obviously needs more detailed investigation and thought.

The motivation for recording this here was to mirror some of the ideas within the ALA [basisOfRecord thread](https://github.com/AtlasOfLivingAustralia/la-pipelines/issues/397), with the associate work to bring in [a vocabulary](https://github.com/gbif/pipelines/pull/547). All of this reinforces the need for [the prop

[2021-07-09 11:37] #86 closed

[2021-07-09 11:37] marcos-lg commented on #86
Deployed to PROD

[2021-07-09 16:00] tucotuco commented on #86
Excellent news!

[2021-07-14 08:13] timrobertson100 opened #98 "API release is not immutable"
When we release a vocabulary we push JSON to nexus, such as [this example](https://repository.gbif.org/service/rest/repository/browse/releases/org/gbif/vocabulary/export/LifeStage/1.0.3/).

However, this returns a different JSON document from the [GBIF API]( https://api.gbif.org/v1/vocabularies/LifeStage/releases/1.0.3/export) for the same release. This one has a "tags".

This might be by design (

[2021-07-14 13:28] marcos-lg commented on #98
Fixed and deployed to PROD

[2021-07-14 13:28] #98 closed

[2021-07-19 11:33] marcos-lg commented on #55
I was talking with @timrobertson100 last week about this and we were thinking that it's probably worth to explore the option of doing the bulk editing in the UI, since it can be more friendly to use and the changes would be saved immediately (as in google sheets).

As a first suggestion, I was thinking that we can split the concepts fields in multiple tables so they are small and easier to handle.

[2021-07-19 13:16] tucotuco commented on #55
Maybe I misunderstand, but for bulk editing I imagine doing a lot quickly.
This proposal doesn't look like it satisfies the quickly part because of
all the selections that have to be done even for one concept. This looks
like a detail editing mode, not a bulk editing mode. As  detail editing
interface I think it's great.

On Mon, Jul 19, 2021 at 8:33 AM Marcos Lopez Gonzalez <
***@***.***> wrote:

[2021-09-02 12:45] marcos-lg commented on #89
Done

[2021-09-02 12:45] #89 closed

[2021-10-27 14:01] marcos-lg opened #99 "Use the new remote auth clases from gbif-common-ws"

[2021-12-02 11:05] #99 closed

[2021-12-21 15:53] timrobertson100 commented on #83
As we define this vocabulary, Isabel (DanBIF) writes:

[2021-12-27 16:18] pzermoglio commented on #83
Nice dataset indeed :)

But to the question, I'd say no.
"worker" is not a value for sex, it's a caste. No matter how obvious it may be for some areas of expertise that all(?) hymenopteran workers are females, terms should not be used to express concepts that are not contemplated in the definition of such terms. If all workers are females, then it'd be easy enough to fill in the sex field with "fe

[2022-01-20 11:49] marcos-lg opened #100 "Add an option to check if a vocabulary has unreleased changes"

[2022-01-21 09:46] marcos-lg opened #101 "Enforce at API and DB level the format of the vocabulary and concept names"
We agreed to use camelCase starting with upper case.

[2022-01-21 09:48] MortenHofft opened #102 "Include labels in suggest endpoint"
The current suggest endpoint has little value from a UI perspective (instead we use the [search endpoint](https://api.gbif-uat.org/v1/vocabularies/EstablishmentMeans/concepts?q=alien))
https://api.gbif.org/v1/vocabularies/EstablishmentMeans/concepts/suggest?limit=100&q=i

it allows you to search by ID and returns only the IDs. Users expect to see and search by the label.

**search not ideal**
Exam

[2022-02-07 08:48] MortenHofft opened #104 "search gives unpredictable results"
minimum 3 letters required?

https://api.gbif.org/v1/vocabularies/EstablishmentMeans/concepts?limit=100&q=in&locale=en

will give no results despite a search for `int` will. Since the vocabularies are relatively small, at least in this case, then I suggest we make it less strict and just have it return a lot of values even if users only enter a single letter.

NB: we currently use search as sugges

[2022-02-07 09:04] MortenHofft commented on #104
I just realise that it isn't a minimum number of letters issue. A search for `n` for example returns introduced. But a search for `in`does not.

https://api.gbif.org/v1/vocabularies/EstablishmentMeans/concepts?limit=100&q=n&locale=en

[2022-03-09 15:45] marcos-lg commented on #101
Finally names must be either letters or numbers and if they start with a letter it must be upper case.

Deployed to PROD.

[2022-03-09 15:45] #101 closed

[2022-04-01 08:54] timrobertson100 opened #107 "Create initial draft of the eventType vocabulary"
There will soon be a proposal to add `eventType` as a term in Darwin Core, to be used in the [event core schema](https://rs.gbif.org/core/dwc_event_2022-02-02.xml) and beyond. This will surely need to accommodate a large variety of concepts but over time an upper taxonomy may be achievable to structure these.

In order to support the GBIF/ALA developments to bring SamplingEvent search and the ongo

[2022-04-01 08:58] timrobertson100 commented on #107
CC @charvolant

[2022-04-08 09:32] marcos-lg commented on #104
@MortenHofft I can try to do a version without stop words and we test it. I think it will affect mostly to phrase queries but probably in the vocabularies they are not very common queries.

[2022-04-11 12:25] marcos-lg commented on #104
I've deployed a version without stop words in DEV. I'm still testing it but it looks better:

https://api.gbif-dev.org/v1/vocabularies/EstablishmentMeans/concepts?limit=100&q=in&locale=en

[2022-04-12 06:52] timrobertson100 commented on #107
Please see https://registry.gbif-uat.org/vocabulary/EventType/concepts

This was created using

[code]

and [eventType.csv](https://github.com/gbif/vocabulary/files/8470240/eventType.csv)

[2022-04-12 06:54] timrobertson100 opened #108 "Bug: The label is used as a unique constraint"
It is not possible to create two vocabularies with the same label. The label shouldn't be part of the primary key.

[2022-04-12 06:55] timrobertson100 opened #109 "Bug: Unable to deprecate a vocabulary"
Clicking the "Deprecate vocabulary" button in the UI returns an error

[2022-04-12 07:47] #107 closed

[2022-04-12 12:03] marcos-lg commented on #108
I've changed it and now it only checks that there can't be 2 vocabularies with the same name. Not deployed yet.

[2022-04-21 08:41] marcos-lg commented on #104
Deployed to PROD.

[2022-04-21 08:41] #104 closed

[2022-04-21 08:41] marcos-lg commented on #108
Deployed to PROD

[2022-04-21 08:41] #108 closed

[2022-04-21 08:42] marcos-lg commented on #102
Deployed to PROD

[2022-04-21 08:42] #102 closed

[2022-04-28 11:51] marcos-lg commented on #100
Deployed to PROD.

https://api.gbif.org/v1/vocabularies?hasUnreleasedChanges=true

[2022-04-28 11:51] #100 closed

[2022-05-04 13:21] MortenHofft opened #111 "suggest with no query fails"
https://api.gbif.org/v1/vocabularies/EstablishmentMeans/concepts/suggest?limit=100&locale=es-ES&q=

instead of an error shouldn't this just return first n results?

that is what our other suggests do. E.g.
https://api.gbif-uat.org/v1/dataset/suggest?q=

[2022-05-04 13:25] MortenHofft opened #112 "Suggest returns the same suggestion multiple times"
https://api.gbif-uat.org/v1/vocabularies/EventType/concepts/suggest?limit=100&q=Si&locale=en

[code]

[2022-05-04 13:41] MortenHofft opened #113 "Include parent labels in suggest"
https://api.gbif-uat.org/v1/vocabularies/EventType/concepts/suggest?limit=100&q=Si&locale=en

I think it would be more informative for the end user if lineage was included in suggestions.
Would it make sense to add that to the suggest? Possible as a param?

[code]

That is what we do for e.g. species - which allows us to show the classification as part of the suggestion
https://api.gbif-uat.org/v1

[2022-05-04 15:01] marcos-lg commented on #112
fixed in UAT

[2022-05-04 15:02] marcos-lg commented on #111
fixed in UAT

[2022-05-05 07:18] MortenHofft commented on #112
I'm a bit disapointed that it took you 2 hours to fix that ;) - thank you

[2022-05-05 08:46] marcos-lg commented on #112
Deployed to PROD

[2022-05-05 08:46] #112 closed

[2022-05-05 08:46] #111 closed

[2022-06-01 12:15] marcos-lg commented on #13
This will be solved with the future documentation site.

[2022-06-01 12:15] #13 closed

[2022-06-01 12:16] marcos-lg opened #114 "Create tool to migrate vocabularies across environments"

[2022-06-02 12:07] timrobertson100 commented on #95
In production

[2022-06-02 12:07] #95 closed

[2022-06-02 12:10] #93 closed

[2022-06-02 12:24] timrobertson100 commented on #69
We should create this vocabulary for completeness, and interpretation of synonyms but note that we likely need to maintain the Java ENUM as well as there are application logic decisions that are made using it.

That is a comment for how the vocabulary is integrated into pipelines though, and the vocabulary creation and synonym mapping can be done as per normal

[2022-06-02 12:43] timrobertson100 commented on #97
@tucotuco

The new member of the data team at GBIF, @CecSve is doing a push to get all our vocabularies that have stalled into the server, so we have a good basis on which to evolve and improve on much of the old files we still use.

Can you please update us on any outputs from the NAOC vocabulary workshop you described above?

[2022-06-02 14:07] mdoering commented on #88
Using the vocab server for cleaning the occurrences consistently makes a lot of sense to me.
The enumeration is actually part of the [name parser API](https://github.com/gbif/name-parser/blob/master/name-parser-api/src/main/java/org/gbif/nameparser/api/Rank.java#L35) which is used in its latest version in checklistbank.org, but also in GBIF CLB - though it might be slightly older.

The ordered ran

[2022-06-10 10:10] CecSve commented on #76
I have gone through this vocabulary now - I did not check with ALA concepts (do not know how to access them - do one of you have a link?). So now I guess it is internal review in DP before talking to Marcos on how to add it to the registry.

[2022-06-10 11:06] CecSve commented on #88
Hi @pzermoglio I would like to begin working on this as well - let me know if you are still working on this and I should leave it be.

[2022-06-10 11:08] CecSve commented on #84
Hi @leobuitrago2 is it ok if I start working on this?

[2022-06-10 11:16] CecSve commented on #80
Self-assigned as reviewer

[2022-06-10 11:31] timrobertson100 commented on #76
Since this is for occurrence processing I think we can just see what they have in their occurrence data. From the [ALA search](https://biocache.ala.org.au/occurrences/search?q=*%3A*), you can click customize your filters, add Kingdom and then here is a screenshot of the concepts they have:

<img width="583" alt="Screenshot 2022-06-10 at 13 29 37" src="https://user-images.githubusercontent.com/2372

[2022-06-10 11:44] CecSve commented on #81
@timrobertson100 or @ManonGros do any of you know where we got the concepts from on this one?

[2022-06-10 11:49] timrobertson100 commented on #81
From the original [Java enumeration](https://github.com/gbif/gbif-api/blob/master/src/main/java/org/gbif/api/vocabulary/NomenclaturalStatus.java#L31)

[code]

Please do bear in mind that it was created for the checklistbank (i.e. was meant for taxonomic, regional and other lists of species) rather than for occurrence data, so may not be an appropriate list, or considered useful to try and standard

[2022-06-10 12:01] ManonGros commented on #81
https://api.gbif.org/v1/enumeration/basic/NomenclaturalStatus

[2022-06-10 12:11] timrobertson100 commented on #81
Just in case it's not known - that [API](https://api.gbif.org/v1/enumeration/basic/NomenclaturalStatus) is a representation of the [Java enum](https://github.com/gbif/gbif-api/blob/master/src/main/java/org/gbif/api/vocabulary/NomenclaturalStatus.java#L31). All (ha!) our enums have that.

I had understood the question more as - how did those concepts come about in the first place - and the list of

[2022-06-10 13:22] CecSve commented on #81
Yes it was a question on how those concepts were chosen, because the verbatim values really does not translate into those concepts - but that is probably because, as you said, the were made for the checklistbank and not occurrences. The verbatim values more translate into how the name was assigned or the certainty of the name giving

[2022-06-10 13:32] ahahn-gbif commented on #81
I would also have expected a nomenclatural status with checklist data (relating to the names as such, not to the way that names apply to occurrences). That being the case, the verbatim data mapped to this concept are possibly there due to a misunderstanding of the term, rather than needing to be handled in our interpretation of this concept. For occurrence data, I would expect the concept of ident

[2022-06-16 14:09] CecSve opened #115 "Dataset categories - curation before uploading first vocabulary version"
**TO BE ADDED**

Based on the suggestion here: https://github.com/gbif/registry/issues/247

This is currently not a feature on GBIF.org and therefore has no verbatim values.

-----------------------------------------------------------------------------------------------------------------
Here is a file to edit:

It contains:

- the list of existing concepts
- a list of the values already mapped to

[2022-06-16 14:11] CecSve commented on #115
Please be aware of the difference between dataset category and methods (for subcategories): https://github.com/gbif/registry/issues/247#issuecomment-1157445886

[2022-06-17 06:46] CecSve commented on #76
I have added ALA concepts: Protista, Prokaryote (Domain), Eukaryota (Domain) and Not supplied. Archaea and Bacteria are also domains. Since we include Domains, I have added parents (Eukaryota and Prokaryote) to some of the Kingdoms based on [the following system](https://en.wikipedia.org/wiki/Kingdom_(biology)#Seven_kingdoms) which should be in adherence to the consensus of CoL.

[2022-06-17 13:08] CecSve commented on #80
I have gone through the mapping and been a bit more conservative in the mapping to make sure we do not

and for the ones where I cannot find documentation on whether the abbreviation used corresponds to a month. I have therefore **removed mapping** in the Hidden tabs of:

- AUB, Audust, Auh, AUR, AUT= August
- JEB = February
- Juy = July (too strict?)
- (June?), JZN = June
- Maexh, MRA = March
- M

[2022-06-17 13:10] CecSve commented on #76
@ahahn-gbif I can for some reason not assign you to this issue as an reviewer but hopefully this ping works

[2022-06-17 13:25] ManonGros commented on #80
I think some of them should remain. For example `AUB, Audust, Auh, AUR, AUT= August`, they are obviously typos (the letters "b", "h", "t" and "r" are next to "g" on the American keyboards) and correspond to August, they couldn't correspond any other month.
Same for May and September.

[2022-06-17 13:38] ahahn-gbif commented on #76
I am getting uncertain about the ways we will want to use this, and what criteria we need to meet to make sure that function is fulfilled.

There now are 11 concepts, some of which are, as you say, not really kingdoms, but higher ranks. We also have more concepts included than we use at GBIF.org to accomodate ALA. If we extend the concepts list beyond what we use for kingdoms today (https://www.gb

[2022-06-17 13:56] CecSve commented on #76
https://github.com/gbif/gbif-api/blob/master/src/main/java/org/gbif/api/vocabulary/Kingdom.java current vocabulary

[2022-06-17 13:58] ahahn-gbif commented on #76
On second thoughts: this concept seems to relate to taxon names only, not to occurrences. Or am I overlooking anything?

[2022-06-17 14:04] CecSve commented on #81
Typing this so we remember the feedback from the nomenclature people:

Sensu stricto and sensu lato (examples of verbatim values) etc would generally also not be used in a checklist setting. Sensu stricto (in strict sense) is used for subgenera to define the sub genera that is named after the genera (which there always is one genus that is), e.g. _Carabus carabus_. Sensu lato is always in context

[2022-06-17 15:46] mdoering commented on #76
The GBIF kingdoms come straight from COL. A kingdom vocabulary should follow whatever we have in our backbone closely as concepts and not add more. It is also a hardcoded Java enumeration in the old ChecklistBank code which is used for checklist and occurrence matching. We cannot just change the number of concepts without a careful review of the code base.

Said that COL already started to change

[2022-06-18 06:40] CecSve commented on #76
How so? And then this would affect GBIFs backbone I suppose in the next update? In that case, it might make more sense to wait with this vocabulary until the changes in CoL is finished.

[2022-06-18 07:51] mdoering commented on #76
We have decided not to follow those changes in the Backbone for now. It is mostly Viruses for now:
https://www.catalogueoflife.org

[2022-06-18 08:02] ahahn-gbif commented on #76
Thanks @mdoering! In that case we should stick with the kingdom concept list as-is, and map as best is possible

[2022-06-20 07:25] CecSve commented on #76
I have revised the concepts and the hidden tab to only contain the kingdoms as-is. Please review when you have time @ahahn-gbif

[2022-06-20 13:53] MattBlissett commented on #80
You can always do a Hive/Hue query to see whether there are additional values that could be added.  When I've worked on this in the past I've looked at verbatim values needing 50, 1000, to avoid adding hundreds of values.

`SELECT COUNT(*) AS c, month, v_month FROM prod_h.occurrence WHERE v_month IS NOT NULL GROUP BY month, v_month ORDER BY month, c;`

Something similar was used for the 'Verbatim

[2022-07-29 09:14] CecSve commented on #88
@mdoering I am working on this vocabulary now. Just to make sure I get the hierarchies right - is the sections in [the name parser](https://github.com/gbif/name-parser/blob/master/name-parser-api/src/main/java/org/gbif/nameparser/api/Rank.java#L35) organised by level? If so, is that the setup we should use or should I use [checklistbank ](https://api.checklistbank.org/vocab/rank) levels?

As an ex

[2022-07-29 11:11] CecSve commented on #88
Another thing - in checklistbank, the higher taxonomy of phylum, e.g. superphylum has majorrank=phylum. Would it technically not be more correct to have the parent rank (majorrank I assume) = kingdom?

[2022-08-01 04:59] mdoering commented on #88
I dont see the difference with parvphylum. In both resources it comes after infraphylum. The CLB vocabulary should be exactly the same as the name parser one, but offers a few more properties like majorrank which is the base rank. Any super/sub/xxxphylum ranks will point to phylum. It classifies them into the linnean ranks mostly.

And we do use all those ranks, just not in the backbone.

[2022-08-01 07:56] CecSve commented on #88
Thank you @mdoering. Not sure where I can see the nearest parent in either of the resources, unless you refer to the sequence of terms in both cases. I realise the sublevels would return the ranks we actually deal with in GBIF, but if I understand you correctly, then we _do_ want to capture the nestedness of the terms. In the new vocabulary we will capture it as parents.

What are you thoughts on:

[2022-08-01 09:53] mdoering commented on #88
yes, its the sequence that defines the order of the ranks. With a few exceptions that are do not fit into the ordering:

Not sure how to model this best in a nested vocabulary. Do you have both a sibling sequence and parent?
Maybe simply drop majorrank and just capture the sequence which is the most important part. As we only plan to use this for mapping occurrence rank values hierarchy and even t

[2022-08-01 14:52] CecSve commented on #88
I have created a nested structure, when it is possible, in the vocabulary now. The super* ranks now point to the higher, interpreted, rank, e.g. superkingdoms' parent is domain, superphylums' parent is kingdom, etc. :

<html><body>
<google-sheets-html-origin><style type="text/css"></style>

Concept | Parent
-- | --
DOMAIN |  
REALM |  
SUBREALM | REALM
SUPERKINGDOM | DOMAIN
KINGDOM | SUPERKINGDOM

[2022-08-01 14:57] mdoering commented on #88
Why is the parent of gigaclass phylum? Should it not be Nanophylum instead?

[2022-08-01 15:01] CecSve commented on #88
It could be, but then we should consistently refer to the higher level when we can - it is not always possible since it depends on the field sometimes, for example botany and zoology use the same terms but at different hierarchical levels, as you also mention in the name parser code. I am considering to leave the highest rank of each subset level unparented - it seems it is what you did for the na

[2022-08-01 15:05] CecSve commented on #88
But based on the name parser, kingdoms parent should be domain, which reminds me of the discussion with OBIS on how we best resolve some of their datasets extensive use of domain

[2022-08-01 15:27] CecSve commented on #88
Yes, good point. I guess where it really matters is how we treat the synonyms/hidden labels. As we discussed previously over email (OBIS using superdomain in many datasets), we currently do not use a hidden label for [superdomain = domain](https://github.com/CatalogueOfLife/backend/blob/master/parser/src/main/resources/parser/dicts/rank.csv). I could add it here, but there might be other synonyms

[2022-08-02 11:08] ahahn-gbif commented on #76
Change log:
- I mapped the "artificial"/polyphyletic groups that do not match any of the concepts exactly to incertae_sedis (monera, algae, others)
- deleted duplicate rows
- **open question on application**: should the hidden value mapping really include values that are not at the same rank (or close equivalent), or would we not rather leave those open/unmapped?

E.g.: is a mapping of "Aves", "In

[2022-08-02 11:33] ahahn-gbif commented on #87
I am undecided here between the formal relationship between terms (there is a group of isotypes that gets further characterised as exisotype, plastoisotype etc), and relationships between objects (if there is an isotype, there also must be a holotype that the isotype relates to).

I think the vocabulary models the former (grab anything that is an isotype out of the bucket), but not necessarily the

[2022-08-02 11:37] ahahn-gbif commented on #87
Also undecided on this one. I would introduce this only if we would expect other type-related terms that cannot be mapped to any of the existing ones, and where introducing a new concept would be wrong for some reason. Do we want an option for parsing type-unrelated content, and if so, for what purpose? Or would it be a temporary bucket for collecting content that is either mis-mapped or omitted f

[2022-08-02 11:46] ahahn-gbif commented on #87
I would agree about "TYPESTATUSUNKNOWN". For POSSIBLETYPE, the ORIGINALMATERIAL definition as "'type-suspicious' material" seems to fit rather well, so I am less sure here. I removed one, but kept the other for now.

[2022-08-02 12:25] mdoering commented on #76
I am not sure how we plan to make use of the vocabulary. The old checklistbank code has a KingdomUtils class that keeps a matrix of how all kingdoms can overlap with each other. So the matching knows Chromista can also be Animalia, Fungi or Plants in some cases. That would be good for the "artificial" groups too I suppose. As incertae sedis matches any kingdom I guess that mapping is ok.

I dont t

[2022-08-02 12:43] ahahn-gbif commented on #76
Thanks, @mdoering! @CecSve, in that case I would recommend to remove the mappings to anything that is not a kingdom equivalent (or close enough to one of the other systems), and focus on the application in occurrence ingestion (values we get from publishers that we need to make best sense of), thanks!

[2022-08-02 15:32] mdoering commented on #87
COL might do it wrongly. I think you are right. An isotype is a duplicate of a holotype, but not itself a holotype.
I will change that in COL...

[2022-08-03 02:46] tucotuco commented on #73
Hi folks. I just wanted to check in to say that this work is still in active progress.

[2022-08-03 09:37] CecSve commented on #88
Ok, @jhnwllr I will hand this vocabulary over to you now for review.

Besides the values that are not interprebable, there are some things I have left unmapped but could be discussed:

- Hybrids (hybrid etc.) and related values (notho*) are not mapped although they are mapped in the [CoL dictionary file](https://github.com/CatalogueOfLife/backend/blob/master/parser/src/main/resources/parser/dicts/

[2022-08-03 09:43] CecSve commented on #88
I will afterwards add the VertNet and ALA mappings if needed.

[2022-08-03 11:19] mdoering commented on #88
we treat hybrid not via the rank, but via a special "notho" property. So nothovariety is just a variety. We therefore mapped them so far all to their respective regular rank.

[2022-08-03 12:14] CecSve commented on #88
Thank you for the explanation - it makes sense. I will include mapping to the rank defined in the notho* values then.

[2022-08-03 12:27] CecSve commented on #88
- [ ] move alternative labels to hidden labels

[2022-08-03 12:30] CecSve commented on #76
Change log:

- Removed mapping of lower level taxonomy ranks
- Removed Metazoa from the Hidden labels as it is an alternative label
- Added Biota as a value and mapped it to Incertae_sedis (to accomodate the Kingdom = Biota provided by many OBIS datasets and which are now mapped to Genus = Biota)

I will go ahead and upload the vocabulary now.

[2022-08-03 12:48] ahahn-gbif commented on #87
Thanks, I missed that. Just as ISOTYPE is a sibling of HOLOTYPE and child of TYPE, this would also apply to the other SYN~ names. Following the same logic, they would all be subclasses of TYPE, rather.

[2022-08-03 13:03] ahahn-gbif commented on #87
Actually, the same would apply to the Allo~ (opposite sex of the holotype) and Para~ (everything but the holotype, though used in the description) series (?)

[2022-08-03 13:21] jhnwllr commented on #88
Here are my comments so far, but I am by no means a taxonomist, so feel free to disagree.

**cv.** I think should be mapped to concept CULTIVAR
**Race** I think should be mapped to concept RACE
**fo.**  I think should be mapped to concept FORM
**microspecies** feels like RACE, VARIETY
**species pro parte** feels like SPECIES
**species sensu lato** feels like SPECIES

[2022-08-03 16:58] mdoering commented on #88
microspecies is hard to map, I would do INFRASUBSPECIFIC_NAME or OTHER

[2022-08-04 07:43] mdoering commented on #87
Indeed. Difficult to model. There are several unrelated properties/flags really that taxonomists have combined into a single word

[2022-08-04 09:07] MattBlissett commented on #73
Note that `Türkiye` or `Republic of Türkiye`  is the new name for `Turkey`, and when capitalized it is `TÜRKİYE`. Our preferred name is `Türkiye`.

(Via ISO and UN: https://turkiye.un.org/en/184798-turkeys-name-changed-turkiye)

[2022-08-04 12:17] CecSve commented on #76
Further work:

- removed hidden labels that were the same as the concept (not upper case and special characters sensitive so those were removed too)
- tested different encoding styles to keep as many special characters when needed (no changes to standard procedure)
- Incertae sedis concept renamed to IncertaeSedis for the tool to register it
- tested upload

Will upload the vocbulary now.

[2022-08-04 12:25] #76 closed

[2022-08-04 12:35] CecSve commented on #78
1. - [ ] Add English labels to the concepts.

2. Check the already mapped values in the Hidden sheet/tab:
- [ ] Correct any errors.
- [ ] When needed, move the mapped values from the Hidden sheet to the Concept sheet as an alternative label but do not add any new concept.
3. - [ ] Map as many verbatim values as possible and add them to the Concepts and Hidden sheet/tabs:
4. - [ ] Incorporate VertN

[2022-09-02 09:56] CecSve commented on #88
- [ ] cv. to cultivar
- [ ] race to race
- [ ] fo. to form
- [ ] microspecies to other
- [ ] species pro parte to species
- [ ] species sensu lato to species
- [ ] make hidden_server sheet
      - [ ] copy hidden label and updated concept
      - [ ] remove duplicate rows

[2022-09-05 14:10] CecSve commented on #88
TaxonRank vocabulary has now been uploaded.

[2022-09-05 14:10] #88 closed

[2022-09-05 14:21] CecSve commented on #83
- [ ] Add English labels to the concepts.
- [ ] Check the already mapped values in the Hidden sheet/tab:
        Correct any errors.
        When needed, move the mapped values from the Hidden sheet to the Concept sheet as an alternative label but do not add        any new concept.
- [ ] Map as many verbatim values as possible and add them to the Concepts and Hidden sheet/tabs:
- [ ] Incorporate V

[2022-09-07 10:44] CecSve commented on #83
I have removed mapping of a sex + ? to the sex, as I would interpret this as unknown/best guess, and it is now mapped to unknown instead.

[2022-09-07 10:49] DanBIF commented on #83
W.r.t. comment https://github.com/gbif/vocabulary/issues/83#issuecomment-1001640729 The argumantation in the comment is valid, but I really think it is a pity too loose information on caste for datasets on Hymenoptera. How about "redefining" the term "Sex" to be "Sex/Caste"? - then we could include "worker" as a valid value

[2022-09-07 12:57] CecSve commented on #83
We would want to keep the vocabularies strict to only account for one specific term to avoid confusion for publishers as well as users. Values that refer to e.g. 'queen', 'worker', 'drone' etc. are present in the 'Sex' field in 0.34% of the datasets and in 0.05% of occurrences, so it is not a prevalent issue. It would still be possible to get the values from the verbatim data if you carry out a fu

[2022-09-08 13:01] CecSve commented on #83
I missed this and have accounted for all the numbers after all... they are the reason for the high number of hidden values.

[2022-09-08 14:33] CecSve commented on #71
I will begin to finalize this vocabulary.
- [ ] map remaining verbatim values
This vocabulary is only used for internal processing and inference of verbatim values to EPSG: standards - the UI/interpreted field will always show WGS 84 (as it does now), so it is a support for the re-projecting step.

[2022-09-08 14:45] tucotuco commented on #71
Hi @CecSve . I have a complete mapping of 82707 distinct v_geodeticdatum to epsg codes as of the 2022-07-14 snapshot.  The mappings can be found [here](https://github.com/VertNet/DwCVocabs/blob/master/vocabs/geodeticDatum.csv). Let me know if that is sufficient, and if not, I can fill out the sheets the way vocabularies have normally been done.

[2022-09-08 15:01] CecSve commented on #71
Perfect, thanks @tucotuco. I think that would be sufficient. Should I just go ahead and add them to the hidden values and remove any duplicates then? I have added some unmapped verbatim values from the verbatim values sheet to the hidden values sheet - we might want to check if the are covered in the snapshots (I would think they would be?).

[2022-09-09 07:46] CecSve commented on #71
Ok, sounds good. I will replace it and prepare it for upload.

[2022-09-12 13:59] CecSve commented on #84
- [ ] Add English labels to the concepts.
- [ ] Check the already mapped values in the Hidden sheet/tab:
        Correct any errors.
        When needed, move the mapped values from the Hidden sheet to the Concept sheet as an alternative label but do not add any new concept.
- [ ] Map as many verbatim values as possible and add them to the Concepts and Hidden sheet/tabs
- [ ] Incorporate VertNet m

[2022-09-13 11:43] marcos-lg opened #117 "Improve performance to add labels"

[2022-09-20 20:31] tucotuco commented on #73
I have finished processing verbatim country values to country ISO 3166 alpha-2 country codes, plus ZZ (for unknown or ambiguous or not in an ISO 3166 region), plus XK for Kosovo. In the [Google sheet](https://docs.google.com/spreadsheets/d/1cHFn7V3Ro3CScz-fw_YYPGFevGOzzQ0L/edit?usp=sharing&ouid=108513729351420126811&rtpof=true&sd=true) for this vocabulary I have:

- [ ] updated the concepts tab wi

[2022-09-22 08:52] timrobertson100 commented on #69
While this is not a priority, as it is such an invasive change in the code a good objective would be to revise the simple mapping that is currently used. That mapping is [this simple file](https://github.com/gbif/parsers/blob/master/src/main/resources/dictionaries/parse/basisOfRecord.tsv)

[2022-09-22 09:02] CecSve commented on #69
Just to be sure, are you proposing only updating the concept mapping of the hidden values in the simple file and disregard the google sheet? In that case, should the concepts proposed above be included or disregarded?

[2022-09-22 10:01] timrobertson100 commented on #69
Sorry, @CecSve - I didn't mean to add to the confusion.

In the longer term, I think we should have this in the vocabulary server for consistency.

I wrote the above thinking that it would make sense to review anything we don't currently map and update the simple mapping file in use.  However, Matt reminded me that we've recently done that and there are no clearly missing values with a lot of data

[2022-09-22 14:45] CecSve commented on #69
@leobuitrago2 I know it is a long time since you probably looked at this vocabulary, but did you have a chance to follow up on the comments by @tucotuco and @marcos-lg? Let me know if I can help in finalizing this work in any way or if you want to finish it.

[2022-09-23 07:26] CecSve commented on #75
We could consider adopting [this approach](https://github.com/tdwg/dwc/issues/38#issuecomment-829208723) for a biome term (leaving habitat without a controlled vocabulary for now) even though the term is not included in DwC.

[2022-09-23 23:04] tucotuco commented on #75
It would b extremely helpful if a Task Group was formed to take care of this and resolve the only thing that is holding up the [biome proposal](https://github.com/tdwg/dwc/issues/38). It would be a relatively simple task to complete, and could involve very few as three people to get the needed work done.

[2022-09-26 09:30] CecSve commented on #84
Adding this comment here, as it is potentially relevant for work on this vocabulary as well as the nomenclaturalStatus vocabulary:

Below you can find a "term taxonomy" on how the hierarchy should actually be in Zoology, with cascades of terms being activated sequentially to prevent misinterpretations and database artifacts. The hierarchy starts at the level of written works and therefore represen

[2022-09-28 19:26] MattBlissett commented on #73
I've partly (with scripts) reviewed some of this, and ended up wondering what the intention is.

A vocabulary with 35,000+ entries is a big thing to review and maintain. 34,000 of the values affect at most 200,000 records.  (Some of those records might have suitable coordinates anyway.)

I think a field containing "Mazy" should be ignored.  It might refer to Мазыр in Belarus, or it might be Mazy i

[2022-09-29 10:31] CecSve commented on #73
Thank you for reviewing this vocabulary @MattBlissett!

The purpose of the vocabularies is not to fix individual errors, but to improve our interpretation and standardisation of fields.

Yes, I agree. This is in line with the other vocabularies we have processed so far. Values that does not to refer to a country e.g., towns, smaller areas etc. should not be mapped in the countryName field.

→ That

[2022-09-29 12:37] marcos-lg commented on #73
→ That initial cleaning should have been done before providing a list of unknown verbatim values, but counting how many records would be affected can be done after.

The cleanup would happen in the pipelines processing when we do the lookup so those values can be excluded from the vocabulary itself.

At the moment we only do this cleanup for the `LifeStage` vocabulary and we remove the numeric pre

[2022-09-29 12:54] CecSve commented on #73
We should include it for the [sex vocabulary](https://github.com/gbif/vocabulary/issues/83) as well.

[2022-09-29 13:11] marcos-lg commented on #73
I'm keeping track of these things [here](https://github.com/gbif/pipelines/issues/747) so we don't forget. Feel free to edit or comment in the issue

[2022-09-29 14:09] tucotuco commented on #73
Ho folks. Before taking action on this vocabulary, I have some concerns I would like to discuss. Can we have a call about this some time after the GB meeting?

[2022-10-06 20:35] tucotuco commented on #97
I think the conclusion of the NAOC group was that preparations alone is not really satisfactory. The workshop produced a LOT of work nevertheless after dividing the problem into a body part vocabulary referring to the UBERON ontology and a vocabulary for preservation method. All of the work to date can be found in the [NAOC Preparations Mapping spreadsheet](https://docs.google.com/spreadsheets/d/1

[2022-10-07 08:18] CecSve commented on #115
[Considerations ](https://discourse.gbif.org/t/transparency-of-data-and-methodologies-used-in-indicators/3478/4?u=cecsve) relevant for dataset categories.

E.g. machine based observations (individual tracking data):

Categories in terms of relevance:

[2022-10-18 07:58] CecSve commented on #97
Investigate GGBN preparations and preservations vocabularies for this vocabulary as well

[2022-10-27 13:19] CecSve commented on #83
The vocabulary is ready for you to check now @jhnwllr. Please use the `Hidden_OpenRefine` tab to check - you should compare the `Hidden label` to the `Concept_dropdown`.

[2022-11-01 13:55] jhnwllr commented on #83
@CecSve this is my review. Feel free to disagree or question my comments.

might mean MALE https://en.wikipedia.org/wiki/XO_sex-determination_system
`O`

I think all of these should be Unknown
[code]

Why is this marked Unknown?
`(Female)`

Seems fair to call this Female
`[size Female]`

This might mean Male https://en.wikipedia.org/wiki/Hemipenis
`1 hemipene, throat white, scales`

This should be

[2022-11-01 14:05] tucotuco commented on #83
In my experience the parenthetical and bracketed entries often signify uncertainty. Whether uncertainty should result in "unknown" or in the suggested probable interpretation should be, at the very least, consistent.

[2022-11-09 12:47] CecSve opened #118 "Beglian Biodiversity Platform vocabularies"
https://github.com/BelgianBiodiversityPlatform/natagora-occurrences/tree/master/references

Consider to reuse or compare these vocabularies developed for the Belgian Biodiversity Platform:

- [ ] behavior
- [ ] lifeStage (already in production, compare)
- [ ] occurrenceRemarks
- [ ] reproductiveCondition
- [ ] samplingProtocol

@timrobertson100 Peter Desmet has made a controlled vocabulary for sam

[2022-11-09 17:16] marcos-lg commented on #117
The work is described here https://github.com/gbif/registry-console/issues/498

[2022-11-21 10:12] CecSve commented on #71
From our [portal feedback system](https://github.com/gbif/portal-feedback/issues/4388).